---
import Layout from '../layouts/Layout.astro';
import TopNavBar from '../components/TopNavBar.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
import FeaturedCollections from '../components/FeaturedCollections.astro';
import OrderSteps from '../components/OrderSteps.astro';
import Footer from '../components/Footer.astro';
import FloatingChat from '../components/FloatingChat.astro';
---

<Layout title="Kudus Florist - Toko Bunga Premium">
	<TopNavBar />
	
	<main>
		<Hero />
		<AboutUs />
		<FeaturedCollections />
		<OrderSteps />
	</main>
	
	<Footer />
	<FloatingChat />
</Layout>
