---
---
<section class="py-32 bg-white">
<div class="max-w-container-max mx-auto px-margin-desktop">
<div class="grid grid-cols-1 md:grid-cols-2 gap-20 items-center">
<div class="relative group">
<div class="absolute -inset-4 bg-tertiary-fixed rounded-xl -rotate-2 transition-transform group-hover:rotate-0"></div>
<img class="relative rounded-lg shadow-xl w-full aspect-[4/5] object-cover" alt="A professional florist with a focused and graceful expression, delicately arranging a lush bouquet of various red flowers including roses, lilies, and carnations. The setting is a bright, sunlit studio with minimalist white walls and wooden workbenches. The lighting is soft and natural, emphasizing the artisanal craft and the romantic crimson tones of the floral arrangement." src="https://lh3.googleusercontent.com/aida-public/AB6AXuBM_8MSJ62kMXdxY3URlLITrfBGPs0RXgJcBsZs1E-_EeRevWxDj6juwvimHKoK2k_33PZZSghG5mRquk2XuRRFAO3lBnHVy7t_2ccq2irr5aGlFIKaRoMhuNgRyvK911ejnnwuFz9X75CvnBDLEDzO5V7HieXi5JByu0aJG7ta1GIbgMOlzmDm_7vIP4LRvuORYLN4IdGKhNtG80PeX9rCGOWnL09TfooALt97Kj7UhAuzP70Bd865X7L0sjbUtzrEi07y2BxCY5M">
</div>
<div class="space-y-8">
<div class="inline-block px-4 py-1.5 rounded-full bg-secondary-fixed text-on-secondary-fixed font-label-md text-xs uppercase tracking-widest">Tentang Aestheflor</div>
<h2 class="font-headline-lg text-headline-lg text-on-background leading-tight">
                        Dedikasi Kami untuk Momen Berharga Anda
                    </h2>
<p class="font-body-lg text-body-lg text-on-surface-variant">
                        Kami adalah toko bunga terpercaya di Kudus yang menghadirkan keindahan alam langsung ke tangan Anda. Menggunakan kombinasi bunga lokal tersegar dan varietas impor pilihan yang dirangkai dengan penuh cinta.
                    </p>
<div class="grid grid-cols-2 gap-8">
<div>
<div class="font-headline-sm text-headline-sm text-primary mb-1">100%</div>
<p class="font-label-md text-label-md text-on-surface-variant">Bunga Segar</p>
</div>
<div>
<div class="font-headline-sm text-headline-sm text-primary mb-1">5k+</div>
<p class="font-label-md text-label-md text-on-surface-variant">Momen Berkesan</p>
</div>
</div>
</div>
</div>
</div>
</section>
